<div class="login-page">
    <h2>Login</h2>
    <form class="login-form" (submit)="submitForm($event)">
        <div class="mat-input-wrapper">
            <input
                id="usernameId"
                name="username"
                type="text"
                class="input-field"
                [(ngModel)]="username"
                required
            />
            <label for="usernameId" class="input-label">Username</label>
        </div>

        <div class="mat-input-wrapper">
            <input
                id="passwordId"
                name="password"
                type="password"
                class="input-field"
                [(ngModel)]="password"
                required
            />
            <label for="passwordId" class="input-label">Password</label>
        </div>  

        <div class="mat-input-wrapper">
            <button type="submit" class="submit-button">{{logintext}}</button>
        </div>
    </form>
</div>
